* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 10vh;
}

#form {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 20px;
}

#input {
  padding: 15px;
  width: 50%;
  font-size: 20px;
}

#btns {
  display: flex;
  gap: 20px;
}
#btns button {
  padding: 15px;
  background-color: #0e6efd;
  color: white;
  border-radius: 2px;
  border: none;
}

#newgame-btn:disabled {
  cursor: not-allowed;
  background-color: rgba(182, 176, 176, 0.918);
}

#submit-btn:disabled {
  cursor: not-allowed;
  background-color: rgba(182, 176, 176, 0.918);
}
