* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html,
body {
  width: 100%;
  height: 100%;
  
}

main {
  max-width: 700px;
  display: flex;
  margin: auto;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  
}

.input-container {
  width: 100%;
  /* background-color: gray; */
  border-radius: 10px;
}

.input-container p {
  font-size: 20px;
  color: #6f3cff;
  margin-bottom: 10px;
}

.input-amount-container {
  border: 1px solid black;
  display: flex;
  font-size: 20px;
  color: #6f3cff;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 4px;
  border-radius: 4px;
}

.input-amount-container label {
  padding-left: 10px;
}

.input-amount-container input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  color: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.tip-container {
  margin-top: 20px;
}

.tip-container label {
  font-size: 20px;
  color: #6f3cff;
}

.btn-tip {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}


.btn-tip .btn {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #9c60ff;
  color: white;
}

.btn-tip .selected-btn {
  outline: 4px solid rgb(255 162 0 / 88.8%);
}

.custom-tip {
  margin-top: 10px;
}

.gray-input {
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 15px;
  color: #6f3cff;
  outline: none;
  background-color: #ccc;
  border: none;
}

.people-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  font-size: 20px;
  color: #6f3cff;
}

.generate-bill-btn {
  margin-top: 12px;
  width: 100%;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: #9c60ff;
}

.output-container {
  width: 100%;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  color: white;
  background-color: #34568b;
  margin-top: 10px;
}

.output-container h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;
}

.output-container span {
  font-size: 25px;
  font-weight: 700;
  color: #c39fff;
}

.reset-btn {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

@media (max-width:600px) {
  main {
    flex-direction: column;
  }
}
