* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto;
  text-align: center;
}

#count {
  font-size: 50px;
  margin-bottom: 20px;
}

#incr-decr button {
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.button {
  background-color: #0d6efd;
  border: none;
  color: white;
  border-radius: 4px;
  margin-bottom: 20px;
}

#incr-decr .button:hover {
  background-color: #0b5ed7;
}

#input input {
  width: 80px;
  height: 30px;
  font-size: 20px;
}

#reset-btn {
  margin-top: 30px;
  font-size: 15px;
  width: 80px;
  height: 35px;
}

 .button:hover {
  background-color: #0b5ed7;
}
